body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

th {
    background-color: #e9f10a;
}

.book-image {
    width: 100px;
    height: auto;
}

.price {
    font-weight: bold;
}

.add-to-cart {
    background-color: #00d307;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.add-to-cart:hover {
    background-color: #657966;
}

/* h5{
    text-align: center;

} */